<h1 id="heading">Create a New Task</h1>

<div id="form-centering">
<%= render "form", todo_task: @todo_task %>
</div>

<br>

<div id="button-container">
  <%= button_to "Back to todo tasks", todo_tasks_path, method: :get, class: "button" %>
</div>
