/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
	font-family: 'Open Sans', sans-serif;	
} 
 
#heading{
	flex: 0 35%;
	text-align: center;
	font-size: 26px;
	margin-top: 30px;
}

#button-container{
    overflow: hidden;
    width: 100%;
    flex-wrap: wrap;
	font-weight: 300;
	font-size: 14px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	display: flex;
  	justify-content: center;
}

#button-container-2-max{
    overflow: hidden;
    width: 100%;
    flex-wrap: wrap;
	font-weight: 300;
	font-size: 14px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	display: flex;
  	justify-content: center;
  	max-width: 500px;
}

.button {
  background-color: #5c5470; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  color: #dbd8e3;
  font-size: 16px;
  float: left;
  margin: 5px;
  min-width: 230px;
  border-radius: 8px;
  box-shadow: rgba(0,0,0,0.15) 0px 3px 3px 0px;
}

#background-color {
	background-color: #dbd8e3;
}

#landing-text {
	color: #352f44;
	text-align: center;
	margin-bottom: 10px;
	font-size: 18px;
}

#landing-text a{
	color: #325CF5;
	margin-bottom: 10px;
}

#landing-text::after {
	content: "\a";
    white-space: pre;
}

#form-centering {
	display: flex;
  	justify-content: center;
  	padding-bottom: 50px;
}

.label-margin {
	margin-right: 10px;
}

.form-field-right {
	float: right;
}

.form-line-container {
	display: flex;
}

.form-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 10px;
	justify-items: stretch;
	justify-content: space-between;
}
